
.grid {
    display: grid;
    grid-template: 200px 200px 200px / 200px 200px 200px;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

.header {
    background-image: linear-gradient(rgba(240, 235, 235, 0.75),   rgba(241, 234, 234, 0.75)), url(phoenix\ background.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.title {
margin: 70px;
font-family: Poppins;
font-weight: 500;
color: white;
text-align: center; }

.subtitle {
grid-column-start: 1;
grid-column-end: 7;
justify-items: center;
display: grid; 
font-family: Poppins;
font-weight: 800; 
color: black;
font-size: 30px;
}

.header li {
float: right;
height: 100%;
margin: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

button {
 border: 2px solid black;
 border-radius: 5px;
 background-color: black;
 color: whitesmoke;
 padding: 10px 10px;
 cursor: pointer;
 display: inline-block;
 margin: 0 auto;
 align-content: space-around;
}

button:hover {
    background-color: orange;
    color: black;
}

form, h4 {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
}